{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}


{% block extrastyle %}
  {{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "imageboard/css/jquery-ui.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "jfu/css/bootstrap.min.css" %}" />
{% endblock %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
  
  {% comment %}
    Added jfu support
  {% endcomment %}
  {% load jfutags %}
  {% jfu 'imageboard/imageboard_upload_form.html' %}
  <div class="alert alert-danger folder" role="alert" style="display: none;">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
        Folder cannot be empty
  </div>
  <div class="alert alert-danger no-server" role="alert" style="display: none;">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
        Cannot get list of folders
  </div>
  <div class="alert alert-danger invalid-format" role="alert" style="display: none;">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
        Invalid image format. Use only .gif, .jpg, .jpeg, .png images
  </div>
  <div class="form-group">
    <div class="col-xs-3">
      <label for="folder">Folder:</label>
      <input class="form-control autocomplete" id="folder" name="folder" 
            type="text" placeholder="Folder to storage the images" />
    </div>
  </div>
{% endblock %}

{% block field_sets %}{% endblock %}

{% block submit_buttons_bottom %}{% endblock %}


{% block admin_change_form_document_ready %}
    <script src="{% static "imageboard/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "imageboard/js/jquery.cookie.js" %}"></script>
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').click(function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });
                {% if adminform and add %}
                    $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                {% endif %}

            });
        })(django.jQuery);
        
        
        $(document).ready(function() {

          // Setting formData on upload start
          var csrftoken = $.cookie('csrftoken');
          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
         });
          
         // Populated list of folders 
         availableFolders = [];
         $.ajax({
            type: "GET",
            url: "/imageboard/image/list-folders/",
            success: function (result) {
                availableFolders = result.split("~");
                $( "#folder" ).autocomplete({
                  source: availableFolders
                });
            },
            error: function (response) {
              $('.alert.no-server').show( "slow", function() {
                // Animation complete.
              });
            }
          });

          // On submit of the fileupload
          $('form#fileupload').bind('fileuploadsubmit', function (e, data) {
            
            var ret = false;
            $.each(data.files, function (index, file) {
              fileName = file.name;
              var ext = fileName.split('.').pop().toLowerCase();
              if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {  
                  $('.alert.invalid-format').show( "slow", function() { /* Animation complete. */ });
                  ret = true;
                  return false;
              } else {
                  $('.alert.invalid-format').hide( "slow", function() { /* Animation complete. */ });
              }
            });

            // Stop it!!!
            if (ret) return false;

            // Passing folder as an argument
            var folder = $('#folder').val();  
            data.formData = { 'folder': folder };         

            // If folder's name is empty stop execution
            if (folder == '' && !data.formData.folder) {
              //data.context.find('button').prop('disabled', false);
              $('.alert.folder').show( "slow", function() { /* Animation complete. */ });
              return false;
            } else {
              $('.alert.folder').hide( "slow", function() { /* Animation complete. */ });
            }
      
          });
        });
    </script>
{% endblock %}
