{% extends "base.html" %}

{% block title %}My amazing Imageboard{% endblock %}

{% load staticfiles %}
{% block stylesheet %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{% static "imageboard/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "imageboard/js/jquery.cycle.all.js" %}"></script>
<script type="text/javascript" src="{% static "imageboard/js/mycycle.js" %}"></script>
{% endblock %}

{% block content %}
<section id="content">
  {% if latest_image_list %}
  {% for image in latest_image_list %}
  <article class="main">
    <h2><a href="{% url 'image_details' image.id %}">{{ image.name }}</a></h2>
    <div class="header-block">
       Author: 
        <a href="#" class="link" >{{ image.author }}</a>
    </div>
    <br />
    <div class="header-block">
      Tags: 
      {% for tag in image.tags_per_image %}
        <a href="{% url 'tag_details' tag.tag.id %}" class="link" >{{ tag.tag }}</a>
        {%if not forloop.last %},{% endif %}
      {% endfor%}
    </div>
    <br />
    <div class="slideshow-block">
      <a href="{% url 'image_details' image.id %}" class="link" ></a>
      <ul class="slides">
        {% for cy_image in image.find_all_images %}
        <li><a title="" href="{% url 'image_details' image.id %}">
              <img class="imagehover" alt="" src="{% static "media/" %}{{ cy_image }}" /></a></li>
        {% endfor %}
      </ul>
    </div>
    <p>{{ image.description }}</p>
  </article>
  <br /> <br /> <br /> 
  <hr />
  {% endfor %}
  {% endif %}
  <div class="pagination">
    <span class="step-links">
      {% if paginator_images.has_previous %}
      <a href="?page={{ paginator_images.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ paginator_images.number }} of {{ paginator_images.paginator.num_pages }}.
      </span>

      {% if paginator_images.has_next %}
      <a href="?page={{ paginator_images.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
</section>
{% endblock %}
{% block aside %}{% include "aside.html" %}{% endblock %}
